:root {
  --primary-color: red;
  --sine-wave-color: var(--primary-color); /* Line color */
  --sine-wave-height: 40; /* Height of the sine wave */
  --sine-wave-speed: 0.1 /* Speed of sine wave movement*/
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: var(--primary-color)
}

.red-square {
  width: 40vw;
  height: 40vh;
  background-color: black;
  border: 2px solid var(--primary-color);
}
