:root {
  --primary-color: red;
  --sine-wave-color: var(--primary-color); /* Line color */
  --sine-wave-height: 40; /* Height of the sine wave */
  --sine-wave-speed: 0.1 /* Speed of sine wave movement*/
}

.main-div {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: var(--primary-color);
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: var(--primary-color)
}

.page-container {
  width: 40vw;
}

.red-square {
  width: 30vw;
  height: 10vh;
  background-color: black;
  border: 2px solid var(--primary-color);
}

.sine-wave-text {
  color: var(--primary-color);
  text-align: left;
}

.sidebar {
  width: 33vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid var(--primary-color);
}
